@page
@using FrontAtencionesMedicas.ExternalServices.DoctorServices
@model FrontAtencionesMedicas.Pages.Doctor.IndexModel
@{
    DoctorServices doctorServices = new DoctorServices();
    var GetUsers = await doctorServices.GetDoctors();
}
<div class="row">
    <div class="col-lg-12">


        <h1>Patient</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Doctor_Id
                    </th>
                    <th>
                        Doctor_FirstName
                    </th>
                    <th>
                        Doctor_LastName
                    </th>
                    <th>
                        Doctor_Email
                    </th>
                    <th>
                        Doctor_LicenseNumber
                    </th>
                    <th>
                        SpecialityId
                    </th>
                    <th>
                        Doctor_CreatedBy
                    </th>
                    <th>
                        Doctor_CreatedAt
                    </th>
                    <th>
                        Doctor_ModifiedBy
                    </th>
                    <th>
                        Doctor_ModifiedAt
                    </th>
                    <th>
                        Doctor_Active
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in GetUsers.data)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_LicenseNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpecialityId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_ModifiedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_Active)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>